<p>Hey {{ name }},</p>
<p>Your temporary passport is {{pass}}</p>
<p>Recommended: You can change your passport by sending the data on the link {{ url }}</p>
<p>If you did not request this email you can safely ignore it.</p>
