<p>Hey {{ name }},</p>

<p>Your temporary passport is {{pass}}. Please login</p>

<p>Recommended: You can change your password after login with temporary password</p>

<p>If you did not request this email you can safely ignore it.</p>
